body{
    background-color: whitesmoke;
}
.LoginPage{
    margin-bottom: 2rem;
   
}
.LoginPage h1{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    
}

.loginInput{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    border: 0.2px solid grey;
    margin: 0.5rem  ;
    
    text-align: center;
}


button img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.loginbtn{
    width: 20rem;
    height: 3rem;
    background-color: white;
    color: black;
    border: 0.5px solid gray;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.loginGoogle{
    width: 20rem;
    height: 3rem;
    background-color: white;
    color: black;
    border: 0.5px solid gray;
    border-radius: 10px;
}

.loginComponents{
    text-align: center;
}